name: Release
run-name: Release ${{ github.ref_name }}
permissions: write-all

on:
  push:
    tags:
      - "**@v[0-9]+.[0-9]+.[0-9]+"

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref_name }}

jobs:
  release-lib:
    name: Release lib
    uses: ./.github/workflows/release-lib.yml
